.modal {
  position: absolute;
  left: 0;
  top: 50px;
}
.modal-overlay {
  width: 99vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  background: linear-gradient(black, white);
  filter: blur(150px);
  -webkit-filter: blur(150px);
}

.modal-content {
  width: 550px;
  padding: 15px 20px;
  padding-bottom: 20px;
  left: 450px;
  position: absolute;
  z-index: 9;
  background: white;
  border-radius: 15px;
  box-shadow: 15px 15px 56px black;
}
.modal-content > video {
  width: 100%;
  margin-top: -33px;
}
.modal-content > h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.ok-btn {
  font-size: 22px;
  padding: 10px 40px;
  margin-top: 40px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.ok-btn:hover {
  background-color: rgb(25, 194, 25);
  outline: 2px solid blue;
}
@media (max-width: 1400px) {
  .modal {
    left: -25px;
  }
}
@media (max-width: 1300px) {
  .modal {
    left: -100px;
  }
}
@media (max-width: 1200px) {
  .modal {
    left: -165px;
  }
}
@media (max-width: 1024px) {
  .modal {
    left: -220px;
  }
}
@media (max-width: 900px) {
  .modal {
    left: -290px;
  }
}
@media (max-width: 800px) {
  .modal {
    left: -340px;
  }
}
@media (max-width: 768px) {
  .modal {
    left: -355px;
  }
}
@media (max-width: 700px) {
  .modal {
    left: -395px;
  }
}
@media (max-width: 600px) {
  .modal {
    left: -420px;
  }
  .modal-content {
    width: 500px;
  }
}
@media (max-width: 500px) {
  .modal {
    left: -420px;
  }
  .modal-content {
    width: 400px;
  }
}
@media (max-width: 475px) {
  .modal {
    left: -433px;
  }
}
@media (max-width: 450px) {
  .modal {
    left: -440px;
  }
  .modal-content {
    width: 390px;
  }
}
@media (max-width: 425px) {
  .modal {
    left: -435px;
  }
  .modal-content {
    width: 350px;
  }
}
@media (max-width: 400px) {
  .modal {
    left: -445px;
  }
}
@media (max-width: 375px) {
  .modal {
    left: -443px;
  }
  .modal-content {
    width: 320px;
  }
}
