.modal {
  position: absolute;
  left: 0;
  top: 50px;
}
.modal-overlay {
  width: 99vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  background: linear-gradient(black, white);
  filter: blur(150px);
  -webkit-filter: blur(150px);
}
.modal-content {
  width: 550px;
  padding: 15px 20px;
  left: 450px;
  position: absolute;
  z-index: 9;
  background: white;
  border-radius: 15px;
  box-shadow: 15px 15px 56px black;
}
.modal-empty {
  height: 500px;
  width: 550px;
  padding: 15px 20px;
  left: 450px;
  position: absolute;
  z-index: 9;
  background: white;
  border-radius: 15px;
  box-shadow: 15px 15px 56px black;
}
.close-btn {
  padding: 5px 15px;
  border: 2px solid transparent;
  outline: 5px solid black;
  color: black;
  position: absolute;
  top: 3%;
  font-family: sans-serif;
  font-weight: bold;
}
.ctrls {
  display: flex;
  justify-content: flex-end;
}
.empty {
  color: black;
  left: 20%;
  top: 20%;
  position: absolute;
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 28px;
}

@media (max-width: 1400px) {
  .modal {
    left: -25px;
  }
}
@media (max-width: 1300px) {
  .modal {
    left: -100px;
  }
}
@media (max-width: 1200px) {
  .modal {
    left: -165px;
  }
}
@media (max-width: 1024px) {
  .modal {
    left: -220px;
  }
}
@media (max-width: 900px) {
  .modal {
    left: -290px;
  }
}
@media (max-width: 800px) {
  .modal {
    left: -340px;
  }
}
@media (max-width: 768px) {
  .modal {
    left: -355px;
  }
}
@media (max-width: 700px) {
  .modal {
    left: -395px;
  }
}
@media (max-width: 500px) {
  .modal {
    left: -420px;
  }
}
@media (max-width: 475px) {
  .modal {
    left: -433px;
  }
}
@media (max-width: 425px) {
  .modal {
    left: -433px;
  }
}
@media (max-width: 400px) {
  .modal {
    left: -445px;
  }
}
@media (max-width: 375px) {
  .modal {
    left: -435px;
  }
}
