.container {
  margin-left: 104px;
}

.food-card > img {
  width: 270px;
  height: 60%;
  margin: 10px auto;
  border: 5px solid greenyellow;
  border-radius: 15;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15;
  -ms-border-radius: 15;
  -o-border-radius: 15;
}
.food-card {
  max-width: 280px;
  height: auto;
  background: linear-gradient(yellow, pink);
  text-align: center;
  border-radius: 15px;
  padding: 6px 9px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.food-card:hover {
  transform: translateY(-15px);
  box-shadow: 10px 10px 10px inset red;
  transition: all 0.5s linear;
}
.foodName {
  color: red;
  font-size: 32px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.foodPrice {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 26px;
  /* margin-left: 40%;/ */
}
.addOrders-btn {
  width: 80%;
  height: 35px;
  font-size: 18px;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: greenyellow;
}
.addOrders-btn:hover {
  border: 2px solid green;
  transition: 0.3 s linear;
}
.foodCountInput {
  width: 14%;
  text-align: center;
  outline: 5px solid black;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 600px) {
  .food-card {
    padding: 20px 80px;
  }
  .food-card > img {
    width: 120%;
    margin-left: -30px;
  }
}
